= form_for @event do |form|
  = form.label :title, "Title"
  = form.text_field :title, :size => 50
  = form.label :date, "Date"
  = form.date_select :date
  = form.label :body, "Details"
  = form.text_area :body, { :cols => 80, :rows => 20 }
  = form.submit "Save Changes"
